.poles {
  &__pole {
    position: absolute;
    font-size: 18px;
    color: var(--color-white);

    &--top {
      top: 10%;
      left: 50%;
    }

    &--right {
      top: 50%;
      right: 5%;
    }

    &--left {
      bottom: 50%;
      left: 5%;
    }

    &--bottom {
      bottom: 10%;
      left: 50%;
    }

    &--rotate {
      transform: rotate(-90deg);
    }
  }
}
